In [11]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [12]:
df = pd.read_csv('Churn_Modelling.csv')

In [13]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [14]:
df = df.drop(['RowNumber','CustomerId','Surname'],axis = 1)

In [15]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [16]:
#df['Gender'] = df['Gender'].replace({'Female':1,'Male':0})

from sklearn.preprocessing import LabelEncoder

label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])

## Female == 1 and Male == 0

In [17]:
df.head(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
5,645,Spain,1,44,8,113755.78,2,1,0,149756.71,1
6,822,France,1,50,7,0.00,2,1,1,10062.80,0
7,376,Germany,0,29,4,115046.74,4,1,0,119346.88,1
8,501,France,1,44,4,142051.07,2,0,1,74940.50,0
9,684,France,1,27,2,134603.88,1,1,1,71725.73,0

In [18]:
from sklearn.preprocessing import OneHotEncoder

OHE_geo = OneHotEncoder()
geo_encoder = OHE_geo.fit_transform(df[['Geography']]).toarray()

In [19]:
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [20]:
OHE_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [21]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [22]:
geo_encoded_df = pd.DataFrame(geo_encoder,columns=OHE_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [23]:
#df = pd.concat([df,geo_encoded_df],axis=1)
df = pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [24]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [41]:
## saving the obj - geo_encoded_data 

with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('Geo_Encoder_Obj.pkl','wb') as file:
    pickle.dump(OHE_geo,file)

In [26]:
### Splitting the dataset into Dependent and independent set

X = df.drop(columns='Exited')
X.head()

y = df['Exited']
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [27]:
## Spliting the X,y into Train and test set

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [28]:
## Saving the Scaler obj 

with open('Scaler_Obj.pkl','wb')as file:
    pickle.dump(scaler,file)

# ANN Implementation

In [29]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

WARNING:tensorflow:From c:\Users\rohit\miniconda3\envs\myenv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [30]:
## creating the model The 1st hidden layer have 64 neuron ,12 input and activation function as relu
## the 2nd hidden layer have 32 neuron and activation function as relu
## the 3rd one is the output layer and it have a single neuron and the activation function is sigmoid since its a binary classification problem

model = Sequential([
    Dense(64,activation ='relu',input_shape =(X_train.shape[1],)),
    Dense(32,activation = 'relu'),
    Dense(1,activation = 'sigmoid')

])

WARNING:tensorflow:From c:\Users\rohit\miniconda3\envs\myenv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [31]:
## compipling the model
import tensorflow

opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy

In [32]:
model.compile(optimizer=opt,loss='binary_crossentropy',metrics='accuracy')

In [33]:
#### ye filhaal nhi samjhaa hai 

from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [34]:
## Set early stoping callback

early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [35]:
print(f"X_train shape: {X_train.shape}")
print(f"y_train shape: {y_train.shape}")
print(f"X_test shape: {X_test.shape}")
print(f"y_test shape: {y_test.shape}")

X_train shape: (8000, 12)
y_train shape: (8000,)
X_test shape: (2000, 12)
y_test shape: (2000,)

In [36]:
### Training model

history = model.fit(
    X_train,y_train,validation_data = (X_test,y_test),epochs = 200,
    callbacks = [tensorflow_callback,early_stopping_callback]
)

Epoch 1/200
WARNING:tensorflow:From c:\Users\rohit\miniconda3\envs\myenv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\rohit\miniconda3\envs\myenv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 3ms/step - loss: 0.4005 - accuracy: 0.8339 - val_loss: 0.3567 - val_accuracy: 0.8520
Epoch 2/200
250/250 [==============================] - 0s 2ms/step - loss: 0.3512 - accuracy: 0.8580 - val_loss: 0.3454 - val_accuracy: 0.8590
Epoch 3/200
250/250 [==============================] - 1s 2ms/step - loss: 0.3464 - accuracy: 0.8597 - val_loss: 0.3649 - val_accuracy: 0.8520
Epoch 4/200
250/250 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8587 - val_loss: 0.3467 - val_accuracy: 0.8535
Epoch 5/200
250/250 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8624 - val_loss: 0.3492 - val_accuracy: 0.8535
Epoch 6/200
250/250 [==============================] - 1s 3ms/step - loss: 0.3389 - accuracy: 0.8599 - val_loss: 0.3491 - val_accuracy: 0.8515
Epoch 7/200
250/250 [==============================] - 1s 2ms/step - loss: 0.3379 - accuracy: 0.8608 - val_loss: 0.3447 - val_accuracy: 0.8545
Epoch 8/200
250/250 [==============================] - 1s 2ms/step - loss: 0.3341 - accuracy: 0.8624 - val_loss: 0.3553 - val_accuracy: 0.8570
Epoch 9/200
250/250 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8640 - val_loss: 0.3451 - val_accuracy: 0.8560
Epoch 10/200
250/250 [==============================] - 1s 2ms/step - loss: 0.3308 - accuracy: 0.8652 - val_loss: 0.3421 - val_accuracy: 0.8605
Epoch 11/200
250/250 [==============================] - 0s 2ms/step - loss: 0.3272 - accuracy: 0.8618 - val_loss: 0.3458 - val_accuracy: 0.8600
Epoch 12/200
250/250 [==============================] - 1s 2ms/step - loss: 0.3272 - accuracy: 0.8634 - val_loss: 0.3560 - val_accuracy: 0.8595
Epoch 13/200
250/250 [==============================] - 1s 2ms/step - loss: 0.3237 - accuracy: 0.8687 - val_loss: 0.3576 - val_accuracy: 0.8555
Epoch 14/200
250/250 [==============================] - 1s 2ms/step - loss: 0.3215 - accuracy: 0.8659 - val_loss: 0.3530 - val_accuracy: 0.8575
Epoch 15/200
250/250 [==============================] - 1s 2ms/step - loss: 0.3190 - accuracy: 0.8668 - val_loss: 0.3559 - val_accuracy: 0.8560
Epoch 16/200
250/250 [==============================] - 0s 2ms/step - loss: 0.3184 - accuracy: 0.8681 - val_loss: 0.3522 - val_accuracy: 0.8535
Epoch 17/200
250/250 [==============================] - 0s 2ms/step - loss: 0.3160 - accuracy: 0.8685 - val_loss: 0.3563 - val_accuracy: 0.8600
Epoch 18/200
250/250 [==============================] - 1s 2ms/step - loss: 0.3140 - accuracy: 0.8683 - val_loss: 0.3637 - val_accuracy: 0.8605
Epoch 19/200
250/250 [==============================] - 0s 2ms/step - loss: 0.3122 - accuracy: 0.8710 - val_loss: 0.3663 - val_accuracy: 0.8555
Epoch 20/200
250/250 [==============================] - 0s 2ms/step - loss: 0.3130 - accuracy: 0.8717 - val_loss: 0.3687 - val_accuracy: 0.8540

In [37]:
model.save('model.h5')

c:\Users\rohit\miniconda3\envs\myenv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [38]:
%load_ext tensorboard

In [39]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 27136), started 14:02:16 ago. (Use '!kill 27136' to kill it.)