In [48]:
import pickle
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import load_model

In [49]:
model = load_model('model.h5')

# loading encoder an scaler and encoder

with open('Geo_Encoder_Obj.pkl','rb') as file:
    geo_encoder = pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder = pickle.load(file)

with open('Scaler_Obj.pkl','rb') as file:
    scaler = pickle.load(file)

In [50]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [59]:
## converting the input data to data frame

input_df = pd.DataFrame([input_data])

In [52]:
print(type(geo_encoder))

<class 'sklearn.preprocessing._encoders.OneHotEncoder'>

In [62]:
# geo_encoded_data = geo_encoder.transform(input_data[['Geography']]).toarray()
geo_encoded = geo_encoder.transform(input_df[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=geo_encoder.get_feature_names_out())

In [54]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [65]:
## Now concatinating geo_encoded_df
input_df = pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [66]:
input_df['Gender'] = label_encoder.transform(input_df['Gender'])

In [67]:
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [69]:
scaled_df = scaler.transform(input_df)
scaled_df

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [70]:
prediction = model.predict(scaled_df)

1/1 [==============================] - 0s 108ms/step

In [74]:
prediction_output= prediction[0][0]
print(prediction_output)

0.015416471

In [76]:
if prediction_output>0.5:
    print('The Customer is likely to churn')
else:
    print('The Cutomer is not likely to churn')

The Cutomer is not likely to churn